{% extends 'jobs/base.html' %}
{% block 'body' %}

<main role="main">
  {% load static %}

  <section class="jumbotron text-center">
    <div class="container">
      <br>
      <h2> {{ job.title }} </h2>
      <br>
      <img src="{{ job.image.url }}" height=300> </img>
      <br> <br> <br>
      <ul>
        <h6 class="text-left"> <b>{{ job.month_completed }}</b></h6>
        <p class="text-left"> <i>{{ job.extracurricular_or_class }}</i></p>
        <li class="text-left" style="list-style-type: square;"> {{ job.summary }} </li>
      </ul>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h3>Related Links</h3>

      <div class="row">
        <div class="col-md-4">
          <a href="{% url 'detail' job.id %}" style="text-decoration:none; color: #000000">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ job.image.url }}"></img>
              <div class="card-body">
                <h5 class="card-title"> {{ job.title }} </h5>
          </a>
          <p class="card-text"> {{ job.month_completed }} </p>
        </div>
      </div>
    </div>
  </div>



  <div class="col text-center">
    <a href="{% url 'home' %}" class="btn btn-primary my-2">Back</a>
  </div>
</main>
<br>

{% endblock %}